<%= link_to "/about", :action => 'go' do %>
  <h1>ABOUT</h1>
<% end %>
<%= link_to articles_path, :action => 'go' do %>
  <h1>Articles index</h1>
<% end %>
<% @article = Article.all %>
<% @article.each do |article| %>
  <tr>
    <%= link_to  article.title, article_path(article) %>
  </tr>
<% end %>
